{% load static %}
{% load  gentelellamenu gtsettings %}
<!DOCTYPE html>
<html lang="en">
  <head>
      {% block pre_head %}
      {% endblock %}
    {% block head %}
        {% block meta-keywords %} {% endblock %}
        {% block extrameta%} {% endblock %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      <title>{% block title %}{% get_settings 'site_title' %} {% endblock %}</title>

      {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{% static 'vendors/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/select2/select2.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'vendors/switchery/switchery.min.css'%}" rel="stylesheet"/>
        <link href="{% static 'vendors/iCheck/green.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/nprogress/nprogress.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/tail.select/tail.select-default.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/flag-icon-css/flag-icon.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/tagify/tagify.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/froala-wysiwyg/froala_editor.pkgd.min.css' %}" rel="stylesheet">

        {% get_define 'use_chartjs' as use_chartjs %}
        {% if use_chartjs %}
        <link href="{% static 'vendors/chartjs/Chart.min.css' %}" rel="stylesheet">
        {% endif %}
        {% get_define 'use_datatables' as use_datatables %}
        {% if use_datatables %}
          <link href="{% static 'vendors/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
        {% endif %}


    {% endblock stylesheets %}
      <!-- Custom Theme Style -->
      <link href="{% static 'gentelella/css/custom.css' %}" rel="stylesheet">
    {% endblock head %}
    {% block extra_css %} {% endblock %}
    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script>
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>
  {% block extra_head %}{% endblock %}
  </head>

  <body class="{% block body_class %}nav-md {% endblock body_class %}">
    {% block body %}
      <div class="container body">
        <div class="main_container">

          {% block sidebar %}

            <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
               {% include "gentelella/app/sidebar.html" %}
            </div>

          {% endblock sidebar %}

          {% block top_navigation %}
            <div class="top_nav">
              {% include "gentelella/app/top_navigation.html" %}
            </div>
          {% endblock top_navigation %}
{% block content_wrapper %}
          <div class="right_col" role="main">
          {% block messages %}
         {% if messages %}
            {% include "gentelella/app/messages.html" %}
          {% endif %}
          {% endblock %}
            {% block breadcrumbs %}
            {% endblock %}
            {% block content_block_wrap %}
              {% block content %}
                <!-- {{ content }} -->
              {% endblock content %}
            {% endblock content_block_wrap %}
          </div>
{% endblock content_wrapper %}
          {% block footer %}

            <footer>
              {% include "gentelella/app/footer.html" %}
            </footer>

          {% endblock footer %}
        </div>
      </div>
      <div class="jsmessage"></div>
      {% render_external_widget %}
      {% block javascripts %}

        <script src="{% static 'vendors/moment/moment-with-locales.min.js' %}"></script>
        <script src="{% static 'vendors/jquery-knob/jquery.knob.min.js' %}"></script>
        <script src="{% static 'vendors/inputmask/inputmask.min.js' %}"></script>
        <script src="{% static 'vendors/inputmask/jquery.inputmask.min.js' %}"></script>
        <script src="{% static 'vendors/nprogress/nprogress.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
        <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'vendors/interact/interact.min.js' %}"></script>


        <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="{% static 'vendors/bootstrap-wysiwyg/bootstrap-wysiwyg.min.js' %}"></script>
        <!-- Switchery -->
        <script src="{% static 'vendors/switchery/switchery.min.js' %}"></script>
        <!-- Select2 -->
        <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
        <!-- Parsley -->
        <script src="{% static 'vendors/parsleyjs/parsley.min.js' %}"></script>
        <!-- Autosize -->
        <script src="{% static 'vendors/autosize/autosize.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
        <script src="{% static 'vendors/fileupload/jquery.ui.widget.min.js' %}"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="{% static 'vendors/fileupload/jquery.iframe-transport.min.js' %}"></script>
        <!-- The basic File Upload plugin -->
        <script src="{% static 'vendors/fileupload/jquery.fileupload.min.js' %}"></script>
        <!-- Calculate md5 -->
        <script src="{% static 'vendors/fileupload/spark-md5.min.js' %}"></script>
        <script src="{% static 'vendors/tagify/tagify.min.js' %}"></script>
        <script src="{% static 'vendors/tagify/jQuery.tagify.min.js' %}"></script>
        <script src="{% static 'vendors/froala-wysiwyg/froala_editor.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/froala-wysiwyg/image_tui.min.js' %}"></script>
        {% get_define 'use_datatables' as use_datatables %}
        {% if use_datatables %}
        <script src="{% static 'vendors/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'vendors/datatables/dataTables.bootstrap.min.js' %}"></script>
        {% endif %}

        {% get_define 'use_chartjs' as use_chartjs %}
        {% if use_chartjs %}
        <script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
        {% endif %}

        {% get_define 'use_bootstraptree' as use_bootstraptree %}
        {% if use_bootstraptree %}
            <script src="{% static 'vendors/bootstrap-tree/bootstrap-treeview.min.js' %}"></script>
        {% endif %}


      <!-- Custom Theme Scripts -->
      <script src="{% static 'gentelella/js/base.js' %}?v={% get_version %}"></script>
      <script src="{% static 'gentelella/js/widgets.js' %}?v={% get_version %}"></script>
      <script src="{% static 'gentelella/js/custom.js' %}?v={% get_version %}"></script>
      {% render_menu_js_widget %}
      {% endblock %}


    {% endblock body %}
    {% block js %}{% endblock %}
  {% render_extra_html_menu %}
  </body>
</html>