{% extends 'gentelella/base_site.html' %}
{% load urlname_tags %}
{% block content %}
{% block pre_head %}
{% get_or_create_permission_context 'pgroup-add,pgroup-edit' 'demoapp' 'add_peoplegroup,change_peoplegroup' 'Add group,Edit group' 'Group' %}
{% get_or_create_permission_context 'abcde-edit,abcde-add' 'demoapp' 'change_abcde,add_abcde' 'Edit abcd,Add abcde' 'Abcd' %}
{% define_urlname_action 'pgroup-add'%}
{% define_urlname_action 'pgroup-edit'%}
{% define_urlname_action 'abcde-add'%}
{% define_urlname_action 'abcde-edit'%}
{% endblock%}
<div class="row">

	<div class='col-sm-12 col-md-12 col-lg-12'>
		<div class="card">
			<div class="card-body">
				<div class="card-title titles">
					<h2> A form </h2>
				</div>
				<form action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{form}}
					<input class="btn btn-success" type="submit" value="Save"/>
				</form>

			</div>

		</div>
	</div>
</div>
{% endblock %}
{% block js %} {{ form.media }} {% endblock %}
