{% extends 'gentelella/base_site.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{# contenedor #}
<div class="row">
	<div class='col-12'>
		<div class="card">
			<div class="card-body">
				{# title page #}
				<div class="card-title titles">
					<h1 class="text-center"> {% trans 'Digital Signature' %} </h1>
				</div>
				{# main content #}
				<main>
					{# form #}
					<div class="my-3">
						<form action="" method="POST">
							{% csrf_token %}
							{# widget #}
							{{ form }}
							<input class="btn btn-success" type="submit" id="hidden-submit" value="{% trans 'Submit' %}" \>
						</form>
					</div>

				</main>

			</div>
		</div>
	</div>
</div>

{% endblock %}

