{% load  i18n %}
<!-- Modal -->
<div class="modal fade" id="permission_modal" aria-labelledby="permission_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="permission_modal_label">{% trans 'Permission Management' %}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4>{% trans 'Permission Type' %}</h4>
                        <div class="btn-group btn-toggle"> 
                            <button id="btn_user" class="btn btn-primary active">{% trans 'User' %}</button>
                            <button id="btn_group" class="btn btn-default">{% trans 'Group' %}</button>
                        </div>
                        <div style="margin-top:10px;">
                            <div id="user_container">
                                <select id="select_user"></select>
                            </div>
                            <div id="group_container">
                                <select id="select_group"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        
                    </div>
                <div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>