
{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="permission_modal" aria-labelledby="permission_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="permission_modal_label">{% trans 'Permission Management' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row container">
                    <div class="col-md-5">
                        <h4>{% trans 'Permission Type' %}</h4>
                        <div class="btn-group btn-toggle">
                            <button id="btn_user" class="btn btn-primary active">{% trans 'User' %}</button>
                            <button id="btn_group" class="btn btn-secondary">{% trans 'Group' %}</button>
                        </div>
                        <div style="margin-top:10px;">
                            <div id="user_container">
                                <select id="select_user" data-dropdownparent="#permission_modal" style="max-width: 200px;">
                                    <!-- Options for User dropdown -->
                                </select>
                            </div>
                            <div id="group_container">
                                <select id="select_group" data-dropdownparent="#permission_modal" style="max-width: 200px;">
                                    <!-- Options for Group dropdown -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" id="permissionbody" style="max-height:200px; overflow-y: auto;">

                    </div>
                    <div class="col-md-2" style="margin-top: 20px;">
                     <div style="font-size: 15px;">
                      {% trans 'User Permissions' %}
                    </div>


           <a class="btn categories" data-bs-toggle="collapse" data-bs-target="#permission_related" style="color: blue;">&#63;</a>


                        <div class="collapse" id="permission_related">
                            <p style="font-size: 12px;">{% trans 'For each user or group, there are 2 main permissions: add and edit. If you need more permissions for your user, add the related permissions.' %}</p>
                            <small>{% trans 'Related Permissions' %}</small>
                            <p style="font-size: 12px;">{% trans 'Each main permission has related permissions, so if you want to perform multiple actions, assign the main permission and its related permissions.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" id="btn_savepermissions" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>
