include README.rst
include LICENSE.txt
include requirements.txt
recursive-include djgentelella/templates *
recursive-include djgentelella/static *
recursive-include djgentelella/locale *
recursive-include djgentelella/blog/templates *
recursive-include djgentelella/blog/static *
