include Readme.rst
include LICENSE
include requirements.txt
graft djgentelella/templates
graft djgentelella/static
graft djgentelella/locale

graft djgentelella/blog/templates
graft djgentelella/blog/static
