{% load i18n %}

<a id="{{id}}" data-lang="{{lang_code}}"  data-apiurl="{{ api_url }}" href="javascript:;" class="dropdown-toggle info-number notificationmenu" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="{{ item.icon }}"></i>
    <span class=" badge bg-success notificacionnumero">0</span>
</a>
<div id="temp_{{id}}" class="visually-hidden" >
    <div class="container-fluid">

        <span class="image btn btn-sm">
            <i data-action="hide" class="clk fa fa-eye-slash text-$message_type"></i>
        </span>
        <span class="float-end imagen btn btn-sm">
            <i style="font-size: 1.2em;" data-action="delete" class="clk fa fa-close red"></i>
        </span>

        <a href="$link" target="_blank" style="margin-top: 10px; ">
            <span class="time " >$datedata</span>
            <span class="message text-center">$description</span>
        </a>
    </div>
</div>
<ul id="ddm_{{id}}" class="dropdown-menu list-unstyled msg_list gentelellamenu scrollbar size-notifications" role="menu" >
    <li id="showall_{{id}}">
        <div class="d-flex justify-content-center view_notification container-fluid">
            <btn id="prev_{{id}}" data-url="false"  class="float-start btn btn-sm btn-success">
                <i class="fa fa-angle-left "></i>
            </btn>
            <a href="{{view_url}}" class="text-center">
                <strong>{% trans 'Show all notifications' %} </strong>

            </a>
            <btn id="next_{{id}}" data-url="false" class="float-end btn btn-sm btn-success">
                <i class="fa fa-angle-right "></i>
            </btn>
        </div>
    </li>
</ul>
