{% extends 'gentelella/base.html' %}

{% load urlname_tags %}
{% load gentelellamenu gtsettings %}
{% load i18n %}
{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.6.82/pdf_viewer.min.css">
	<link rel="stylesheet" href="{% static 'gentelella/css/pdfviewer.css' %}">
{% endblock %}

{% block title %}Django Gentelella widgets{% endblock %}

{% block content %}
	<h1 class="text-center">{% trans 'Document' %}: <span class="text-dark">{{ test.test_code }}</span></h1>
	<div class="">

		<div class="my-3 d-flex align-items-center justify-content-evenly">
			<input type="hidden" id="page_number">
			<div>
				<button class="btn btn-secondary btn-sm" id="prev">{% trans 'Previous' %}</button>
				<button class="btn btn-secondary btn-sm" id="next">{% trans 'Next' %}</button>
			</div>

			<span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
		</div>

		<div id="canvas_container" class="d-flex justify-content-center">
			<div id="sub_canvas_container">
				<div id="signature" class="signature">
					<div id="image" class="image"></div>
					<div id="text" class="text"></div>
				</div>
				<canvas id="pdfviewer"></canvas>
			</div>
		</div>
		<br>
		<br>

		<div class="text-muted text-center my-3">
			<p class="small">
				<i class="fa fa-exclamation-circle me-2" aria-hidden="true"></i>
				{% trans "Please go to the last page, in the signature space, try to place your signature vertically centered." %}
			</p>
		</div>

		<div class="d-flex justify-content-evenly">

			{% if permission %}
				<button class="btn btn-success btn-sm" id="signer_btn" data-org="{{ org_pk }}"
												data-pk="{{ test.pk }}">{% trans 'Sign' %}</button>
			{% endif %}
		</div>

	</div>

	{% trans 'Select your card' as card_title %}
	{% include 'gentelella/digital_signature/modal_firmador_digital.html' with form=form action="return false;" id="select_card" title=card_title %}

{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.6.82/pdf.min.mjs" type="module"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.6.82/pdf.worker.min.mjs" type="module"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.10.27/interact.min.js"></script>
	<script>
		const urls = {

			{#sign_ws: "{% get_websocket_url 'sign_document' %}"#}
		}

		const pdf_document = "{{test.signature_file.url}}";

	</script>

	<script src="{% static 'gentelella/js/digital_signature/pdfviewer.js' %}" type="module"></script>
	<script src="{% static 'gentelella/js/digital_signature/signature.js' %}"></script>
	<script src="{% static 'gentelella/js/digital_signature/document_manager.js' %}"></script>

{% endblock %}

