{% extends 'gentelella/base.html' %}
{% load i18n %}
{% load static %}
{% load gtsettings %}
{% block title %} {% trans 'Signature settings' %} {% endblock %}

{% block pre_head %}
{% endblock %}

{% block content %}
<div class="card mt-2">
	<div class="card-body">

		<div class="card-title titles">
			<h1 class="text-center">
				{% trans 'Signature settings' %}
			</h1>
		</div>

		<div class="row justify-content-center my-4">
			<div class="col-lg-6 col-md-10 col-12">

				<form action="" id="form_signature" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_grid }}

					<div class="text-center">
						<button type="submit" name="action" value="update" class="btn btn-success btn-sm">
							{% trans 'Save' %}
							<i class="fa fa-floppy-o" aria-hidden="true"></i>
						</button>
					</div>

				</form>

			</div>
		</div>

	</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'gentelella/js/digital_signature_update.js' %}?v={% get_version %}"></script>
{% endblock %}
