{% extends 'gentelella/base_site.html' %}
{% load static i18n gtsettings %}
{% load gtsettings timejs %}

{% block pre_head %}
    {% define_true  "use_datatables" %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">

    <div class='col-md-12 col-sm-12'>
      <h1 class="text-center"> {% trans 'List of notifications' %}</h1>

      <div class="card">

        <div class="card-body" style="display:block;">
          <div class="dashboard-widget-content table-responsive">
            <table id="datatableelement" class="table table-striped table-bordered" style="width:100%"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}

<script>
    datatableelement=createDataTable('#datatableelement', '{% url "api-notificationtable-list" %}', {
     columns: [
            {data: "message_type",
              render: function (data, type, row) {
                return '<span style="font-size: 1.5em;" class="text-'+data+' fa fa-circle"></span>'
              }, name: "message_type", title: "Tipo", type: "string", visible: true},
            {data: "creation_date", name: "creation_date", title: "Fecha de creación", type: "datetime", visible: "true", "dateformat":  "{% get_datetime_format %}"},
            {data: "description", name: "description", title: "Descripción", type: "string", visible: true},
            {data: "link",
              render: function (data, type, row) {
                return '<a href='+data+'>'+'Ver'+'</a>';
              }, title: "Enlace", type: "string", visible: true},
            {data: "state",
              render: function (data, type, row) {
                return '<div>'+data.charAt(0).toUpperCase() + data.slice(1)+'</div>'
            }, name: "state", title: "Estado", type: "string", visible: true},
        ]
    }, addfilter=true);
</script>
{% endblock %}
