@mixin footer($x, $y, $bg, $display) {
  background: $bg;
  padding: $x $y;
  display: $display;
}
@mixin media($max) {
  @media (min-width: $max) {
    @content;
  }
}
footer {
  @include footer(15px, 20px, $bg-footer, block);
  @include media(992px) {
    margin-left: 230px;
  }
}
