$blue: #3498DB;
$purple: #9B59B6;
$green: #1ABB9C;
$aero: #9CC2CB;
$red: #E74C3C;
$dark: #34495E;
$orange: #f5822c;
$white:#fff;
$light-gray:#73879C;
$sky-blue:#50C1CF;
$transparent:transparent;
$bg-sidebar-footer:#2A3F54;
$bg-sidebar:#2A3F54;
$bg-sidebar-button:#172D44;
$sidebar-color:#2A3F54;
$border-nav-color:#1ABB9C;
$bg-body:#2a3f54;
$body-color:#73879c;
$bg-footer:#fff;
$bg-right-content:#f7f7f7;
$none:none;
$color-side-menu-hover:#f2f5f7;
$bg-nav_menu:#ededed;
$border-nav_menu:#d9dee4;