{% load urlname_tags %}
{% load gentelellamenu gtsettings %}
{% load i18n %}
{% load static %}

<div class="row my-3 widget-digital-signature">

	{#	optional title #}
	{% if widget.attrs.title %}
		<h5 class="text-center mb-3 mt-2 text-secondary fw-bold">
			{{ widget.attrs.title }}
		</h5>
	{% endif %}

	{#	digital signature card #}
	<div class="col-12 col-md-4">

		<div id="container_select_card_tem">
			<div class="d-flex justify-content-end">
				{#		btn refresh #}
				<i class="fa fa-refresh text-muted fs-5 cursor-pointer btn_signer_refresh"
							title="{% trans 'Reload' %}"
							aria-hidden="true"></i>
			</div>

			<h6 class="text-danger fw-bold my-2">
				{% trans 'The signed option is not available.' %}
			</h6>

			<p class="fw-bold mx-1">
				{% trans "We did not find an electronic signature card." %}
			</p>

			<p class="mx-1">
				{% trans 'Please make sure to comply with the notices or resolve the errors.' %}
			</p>

		</div>

		<div id="container_select_card" class="d-flex justify-content-center flex-column d-none  p-2">
			<div class="d-flex justify-content-between align-items-center my-3">
				<label for="select_card_{{ widget.attrs.id }}" class="text-center fw-bold">
					{% trans 'Choose your signature card' %}
				</label>

				{#		btn refresh #}
				<i class="fa fa-refresh text-muted fs-5 cursor-pointer btn_signer_refresh"
							title="{% trans 'Reload' %}"
							aria-hidden="true"></i>
			</div>

			{#			select card #}
			<div class="select-container" title="{% trans 'Electronic signature card' %}">
				<i class="fa fa-credit-card-alt ms-2" aria-hidden="true"></i>
				<select id="select_card_{{ widget.attrs.id }}" class="form-select select_card" name="{{ widget.name }}_select">
				</select>
			</div>

			{#	btn sign #}
			<div class="my-3 d-flex align-items-center justify-content-evenly">
				<button class="btn btn-primary w-50 rounded formadd btn-sm px-3 btn_signer"
												type="button">{% trans 'Sign' %}</button>
			</div>
		</div>

		{#	info messages #}
		<div class="row m-1">
			<p class="text-muted fw-bold m-0 p-0">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				{% trans 'Notices' %}
			</p>
			<ul class="m-0 p-0 ms-2">
				<li>
					<small> 1) {% trans 'You need Firmador Libre installed in order to sign.' %} </small>
				</li>
				<li>
					<small> 2) {% trans 'Make sure your version is 1.9.8 or later.' %}
					</small>
				</li>
				<li>
					<small> 3) {% trans 'Run the application before proceeding with the signature.' %} </small>
				</li>
				<li>
					<small>
						4)
						{% trans "If the autolauncher doesn't work, I used this command line." %}
						<i class="fa fa-info-circle cursor-pointer" title="{% trans 'Show command' %}" id="show-command-line"
									aria-hidden="true"></i>
					</small>
				</li>
			</ul>

			<div class="row">
				<p id="text-copy" class="text-center text-muted p-0 m-0 small d-none">
					{% trans 'Copied to clipboard' %}
				</p>
				<div id="container-command-line" class="text-wrap bg-light text-center p-2 rounded shadow-sm d-none">
					<div class="d-flex justify-content-end">
						<i class="fa fa-clipboard cursor-pointer text-black" id="copy-command-line"
									title="{% trans 'Copy to clipboard' %}" aria-hidden="true"></i>
					</div>
					<pre id="command-line" class="text-wrap small">
																	java --add-exports=jdk.crypto.cryptoki/sun.security.pkcs11.wrapper=ALL-UNNAMED -Djnlp.remoteOrigin={{ request.scheme }}://{{ request.get_host }} -jar firmador.jar -dremote
							</pre>
				</div>
			</div>
		</div>


		{#	firmador messages #}
		<div class="row m-1 pt-2">
			<p class="text-muted fw-bold m-0 p-0 d-flex align-items-center">
				<span class="me-2">	Firmador Libre </span>
				<img src="{% static 'gentelella/images/firmador.ico' %}" width="20" alt="Firmador Libre">
			</p>
			<ul class="m-0 p-0 ms-2">
				<li>
					<a class="small"
								title="{% trans 'Download Firmador Libre' %}"
								href="https://firmador.libre.cr/descargar.html" target="_blank">
						{% trans 'Download app' %}
						<i class="fa fa-download" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a class="small"
								title="{% trans 'Run Firmador Libre' %}"
								href="firmador:localhost" data-widget="FirmadorCORS" data-port="3516">
						{% trans 'Run app' %}
						<i class="fa fa-cog" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>

		{#	error messages #}
		<div id="signature-errors" class="errors_signer row m-1">
		</div>

	</div>

	{#	preview file #}
	<div class="col-12 col-md-8">
		<div class="pdf-signature-container" id="pdf-signature-container">
			{#	actions for change page#}
			<div class="my-3 d-flex align-items-center justify-content-evenly">
				<input type="hidden" name="{{ widget.name }}_page_number" class="page_number">
				<input type="hidden" name="{{ widget.name }}"
					{% if widget.value != None %}
											value="{{ widget.value|stringformat:'s' }}"{% endif %} {% include "gentelella/widgets/attrs.html" %}>

				{#		button to change page #}
				<div>
					<button type="button" class="btn btn-light px-3 shadow-sm border btn-sm prev" title="{% trans 'Previous' %} ">
						<i class="fa fa-angle-double-left" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn btn-light px-3 shadow-sm border btn-sm next" title="{% trans 'Next' %} ">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</button>
				</div>

				{#		number of pages #}
				<div class="border  rounded px-3 py-1 shadow-sm ">
					<i class="fa fa-file-o me-1" aria-hidden="true" title="{% trans 'Page' %}"></i>
					<span class="page_num"></span> / <span class="page_count"></span>
				</div>
			</div>

			{#	preview document	#}
			<div class="d-flex justify-content-center canvas_container">
				<div class="sub_canvas_container">
					<div class="signature">
						<div class="image"></div>
						<div class="text"></div>
					</div>
					<canvas class="pdfviewer"></canvas>
				</div>
			</div>

			{# warning message #}
			<div class="text-muted text-center my-3">
				<p class="small">
					<i class="fa fa-exclamation-circle me-2" aria-hidden="true"></i>
					{% trans "Please go to the last page, in the signature space, try to place your signature vertically centered." %}
				</p>
			</div>

		</div>
	</div>
	{# loading #}
	<div class="modal fade" id="loading_sign" style="background-color: rgba(0, 0, 0, 0.3);" data-bs-backdrop="static"
						data-bs-keyboard="false" tabindex="-1"
						aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content bg-transparent border-0">
				<div class="d-flex flex-column justify-content-center align-items-center text-white">
					<span class="spinner-border" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></span>
					<h6 class="text-center fw-bold mt-3 loading-animation"> {% trans "Loading..." %} </h6>

					<p class="text-center mt-3 fw-bold">
						{% trans "Please wait while the document is being signed." %}
					</p>
				</div>
			</div>
		</div>
	</div>

</div>


