<div class="input-group">
  <div   class="input-group-prepend {{ widget.name }}_progress">
    <span class="input-group-text"><i class="fa fa-file"></i></span>
  </div>
  <div class="uploadfilecontent">
    <input type="{{ widget.type }}" data-inputtoken="{{ widget.name }}" data-process=".{{ widget.name }}_progress"  data-message=".{{ widget.name }}_messages"  name="{{ widget.name }}_widget" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "gentelella/widgets/attrs.html" %}>
    </div>
    <div   class="form-control {{ widget.name }}_messages" style="display:none;"></div>
    <input type="hidden" name="{{ widget.name }}" value="" />
  <div class="input-group-append fileshow">
    <span class="input-group-text"><i class="fa fa-eye"></i></span>
  </div>
</div>

