{% load i18n %}

<div class="fileupload">
<div class="input-group flex-nowrap">
  <div class="input-group-text {{ widget.name }}_progress"><i class="fa fa-file"></i></div>
  <div class="uploadfilecontent chunkedupload">
    <input class="chunkedupload-input" type="{{ widget.type }}" data-inputtoken="{{ widget.name }}" data-process=".{{ widget.name }}_progress"  data-message=".{{ widget.name }}_messages"  name="{{ widget.name }}_widget" {% include "gentelella/widgets/attrs.html" %}>
  </div>
  <div class="form-control {{ widget.name }}_messages" style="display:none;"></div>
   <input type="hidden" name="{{ widget.name }}" value="{{ widget.value|default:''  }}"  autocomplete="off" />
   <div class="input-group-text fileshow" ><i class="fa fa-eye"></i></div>
  <div id="download_{{ widget.name }}" class="input-group-text bg-danger" {% if not widget.value %}style="display:none;"{% endif %}>
    <a href="{% if widget.value %}{{widget.value.url}}{%endif%}" target="_blank"><i class="fa fa-download text-light"></i></a>
  </div>
</div>
    <div id="remove_{{ widget.name }}" class="checkbox">
        <label class="">
            <div class="icheckbox_flat-green" style="position: relative;">
                <input id="id_remove_{{ widget.name }}" type="checkbox" autocomplete="off" data-widget="CheckboxInput" name="remove_{{ widget.name }}_gt"  class="flat"  style="position: absolute; opacity: 0;">
                <ins class="iCheck-helper"  ></ins></div>
            				{% trans 'Delete this file' %}
        </label>
    </div>
</div>
