{% load i18n %}
<div class="select2box_container row row-cols-4">
  <!--  first column-->
  <div class="col-lg-5 col-md-5 col-sm-5 text-center custom-col-4">
    <input type="text" class="form-control search_select2box w-100" placeholder="{% trans 'search' %}">
    <select class="select2box_options w-100" multiple>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
      <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
      {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
      </optgroup>{% endif %}{% endfor %}
    </select>
    <button class="move_all_selector all_to_selected" type="button">{% trans "Select All" %} &#8594;</button>
  </div>

  <p class="selected_values_container" hidden>{%for elem in widget.value%}{{elem}},{%endfor%}</p>
  <!-- second column-->
  <div class="btn-group-vertical col-lg-1 col-md-1 col-sm-1 btn_col_style custom-col-1">
    <button class="btn btn-success btn-sm arrow_select2box add_selection h-25 mt-lg-5 mt-md-0 mt-sm-0 p-2 d-flex align-items-center justify-content-center" type="button"><i class="right">&#8594;</i></button>
    <button class="btn btn-success btn-sm arrow_select2box return_selected h-25 mb-lg-5 mb-md-0 mb-sm-0 p-2 mt-2 d-flex align-items-center justify-content-center" type="button"><i class="left">&#8592;</i></button>
</div>

  <!-- third column -->
  <div class="col-lg-5 col-md-5 col-sm-4 text-center custom-col-3">
    <select name="{{ widget.name }}" {% include "gentelella/widgets/attrs.html" %}></select>
    <button class="move_all_selector all_to_available" type="button">&#8592; {% trans "Return All" %}</button>
  </div>
  <!-- fourth column -->
  <div class="col-lg-1 col-md-1 col-sm-1 custom-col-2">

    <button class="btn btn-success create_btn"  type="button">+</button>
  </div>
  <div class="modal fade" id="select2box_modal" tabindex="-1" aria-labelledby="select2box_modalLabel" aria-hidden="true">
  </div>
</div>

