{% extends 'gentelella/registration/email_base.html' %}
{% load i18n %}

{% block content %}
<h3>{% blocktrans %}Reseting password at {{ site_name }}{% endblocktrans %}:</h3>
 <br>
    <p>
        {% trans 'Use the follow link to reset the password in the platform' %}
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}" >
    {% trans 'Here' %} </a>
    </p>
    <p>
    {% blocktrans %}This email was send because someone try to reset your password, if you didn't request a reset, please delete this email and do not more actions
    {% endblocktrans %}
    </p>
{% endblock %}


