{% extends 'gentelella/base.html' %}
{% load static i18n %}
{% load  gentelellamenu gtsettings %}

{% block body_class %}login{% endblock body_class %}
{% block body %}
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <h1>{% trans 'Reset password' %}</h1>
                    <div>
                        {% trans 'Please insert the user email registered in platform' %}
                        <br><br>
                    </div>
                    {{ form.as_p }}
                     <div>
                        {% trans 'We will send you a email to verify you are were you say you are' %}
                        <br><br>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default submit" >{% trans 'Send email' %}</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">
                        {% get_settings 'site_logo' %}
                        <p>©{% now "Y" %} {% trans "All Rights Reserved." %} </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}