{% extends 'gentelella/base.html' %}
{% load i18n %}
{% block body_class %}login{% endblock body_class %}
{% block body %}
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
{% if validlink %}

<form method="post" action=".">
    <h1>{% trans 'Password change' %}</h1>
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
            </section>
        </div>
    </div>
</div>

{% endblock %}
