{% extends 'gentelella/base.html' %}
{% load urlname_tags %}
{% block content %}
{% block pre_head %}
 {% define_urlname_action 'input_tagging-add'%}
 {% define_urlname_action 'input_tagging-edit'%}
 {% define_urlname_action 'input_tagging-list'%}
{% endblock %}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <div class="clearfix">
                <h2>Tagging Widgets</h2>
                <ul class="nav navbar-right panel_toolbox" style="margin-top:-40px">
                    <li><a href="{% url 'input_tagging-add' %}" class="collapse-link"><i class="fa fa-plus green" style="font-size: 2em"></i></a>
                    </li>

                </ul>
            </div>
        </div>

        <div>
            <table class="table table-light">
                <thead class="thead-light">
                <tr>
                    <th>CharField List</th>
                    <th>Email List</th>
                    <th>TextField List</th>

                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                <tr>
                    <td>{{obj.text_list}}</td>
                    <td>{{obj.email_list}}</td>
                    <td>{{obj.area_list}}</td>
                    <td><a href="{% url 'input_tagging-edit' obj.id %}" class="btn btn-warning text-white">+</a></td>
                </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
</div>



{% endblock %}