{% extends 'gentelella/flow/base_nav.html' %}
{% load gtsettings timejs %}

{% block content_nav %}

{% if messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
{% endif %}

<div class="card">
		<form method="get">
			<a class="btn btn-success m-4 float-end" href="{%url 'create_status' %}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
			</form>

	<div class="card-body">
		<div class="card-title titles">
			<h2>Status</h2>
		</div>

				<div class="col-12">
						<table id="datatableelement" class="table "></table>
				</div>

		</div>
	</div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Flow</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
												<form method="post" id="deleteStatusForm">
                {% csrf_token %}
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar el estado "<span id="statusName"></span>"?
                    <input type="hidden" name="id" id="deleteStatusId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">Eliminar Flow</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
												<form method="post" id="viewStatusForm">
                {% csrf_token %}
                <div class="modal-body">
																	{{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

  <script>


	    $(document).ready(function() {
        var statuses_data = {{ statuses_data|safe }};

        $('#datatableelement').DataTable({
            data: statuses_data,
            columns: [
                {data: "id", title: "Status ID", type: "string", visible: true},
                {data: "name", title: "Status Name", type: "string", visible: true},
                {data: "description", title: "Description", type: "string", visible: true},
                {
																			data: null,
																			title: "View FLow",
																			orderable: false,
																			render: function (data, type, row) {
																							 return `<button class="btn btn-sm " onclick="openViewModal('${row.name}', '${row.description}')">
																							 <span style="font-size: 28px; color: #007bff;"><i class="fa fa-eye" aria-hidden="true"></i>
																							</span></button>`;
																			}
																},
																{
																			data: null,
																			title: "Edit FLow",
																			orderable: false,
																			render: function (data, type, row) {
																							var url = "{% url 'status_edit' '0' %}";
																							url = url.replace('0', row.id);
																							return `<a class="btn btn-sm" href="${url}">
																							<span style="font-size: 28px; color: #ffc107;"><i class="fa fa-pencil-square" aria-hidden="true"></i>
																							</span</a>`;
																			}
																},
																{
																			data: null,
																			title: "Delete FLow",
																			orderable: false,
																			render: function (data, type, row) {
																							var url = "{% url 'status_delete' '0' %}";
																							url = url.replace('0', row.id);
																							return `<button class="btn btn-sm" onclick="openDeleteModal(${row.id}, '${row.name}')">
																							<span style="font-size: 28px; color: #dc3545;"><i class="fa fa-trash" aria-hidden="true"></i>
																							</span></button>`;
																			}
																}


            ]
        });
    });


function openViewModal(name, description) {
    // Set data in modal form fields
    document.getElementById('viewModalLabel').innerText = `Viewing Flow: ${name}`;
    document.querySelector('#id_name').value = name;
    document.querySelector('#id_description').value = description;

    // Disable fields to make them non-editable
    document.querySelector('#id_name').readOnly = true;
    document.querySelector('#id_description').readOnly = true;

    // Show the modal
    $('#viewModal').modal('show');
}

function openDeleteModal(id, statusName) {
    document.getElementById('statusName').innerText = statusName;
    document.getElementById('deleteStatusId').value = id;

    var deleteForm = document.getElementById('deleteStatusForm');
    deleteForm.setAttribute('action', "{% url 'status_delete' '0' %}".replace('0', id));

    $('#deleteModal').modal('show');
}
		</script>

{% endblock js%}



