{% load mptt_tags gentelellamenu gtsettings %}
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="{% get_settings 'sidebar_icon' 'fa fa-spinner' %}"></i> <span>{% get_settings 'sidebar_title' 'My Site' %}</span></a>
  </div>

  <div class="clearfix"></div>



  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    {% sidebar_menu %}


  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-print nohidden">
     {% footer_sidebar_menu %}
  </div>
  <!-- /menu footer buttons -->
</div>