
<nav class="navbar navbar-expand-lg nav_menu  " >
    {% load i18n gentelellamenu gtsettings urlname_tags %}
    <div class="container-fluid">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav  d-flex flex-row-reverse ">
            {% top_menu  %}
            {% if request.user.is_superuser %}
            {% get_urlname_action as urlnameactions %}
            {% validate_context urlnameactions as context %}
            {% if urlnameactions and context %}
            <li><a class="btn" id="btn_perms" title="{% trans 'Add Permission' %}" data-bs-toggle="modal" data-bs-target="#permission_modal" data-parameter="{% get_page_name urlnameactions %}" data-urlname="{{urlnameactions}}"><i class="fa fa-key" aria-hidden="true"></i></a></li>
            {% endif %}
            {% endif %}

        </ul>
    </div>
</nav>

