{% extends 'gentelella/base_site.html' %}
{% load i18n urlname_tags %}

{% block content %}

{% block pre_head %}
  {% define_urlname_action 'entrycreate' %}
{% endblock %}

<div class="card " xmlns="http://www.w3.org/1999/html">
    <div class="card-body">
    <div class="card-title titles"></div>
                <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_horizontal }}

                    <button class="btn btn-success text-white" type="submit" name="savebtn" value="save">{% trans 'Save' %}</button>
                    <button class="btn btn-warning text-white" type="submit" name="publishbtn" value="publish" >{% trans 'Publish' %}</button>

                </form>

        </div>
    </div>
</div>

{{ form.media }}
{% endblock %}