{% extends 'gentelella/base_site.html' %}
{% load i18n %}

{% block content %}
<div class="x_panel " xmlns="http://www.w3.org/1999/html">
    <div class="x_title">{% trans 'Deleting ' %} {{entry.title}}</div>
        <div class="x_content">
                <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                    {{ form }}

                    <button class="btn btn-danger" type="submit" name="delbtn" value="delete">{% trans 'Yes, Delete it' %}</button>

                </form>

        </div>
    </div>
</div>

{{ form.media }}
{% endblock %}