{% extends 'gentelella/base.html' %}
{% load i18n %}
{% load static %}
{% load timejs %}
{% load urlname_tags %}
{% load gtsettings %}

{% block pre_head %}
{% define_urlname_action 'entry_list' %}
{% endblock %}
{% block content %}
    <div class="card">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="page-header" align="center">
                    <h3 class="heading-1"><span>{% trans 'List of blogs' %}</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped w-100" id="blog_table"></table>
        </div>
    </div>

{% url "api-objectbLog-list"  as create_obj_url %}
{% trans 'Create Blog' as create_obj_tittle %}
{% include 'gentelella/blocks/modal_template.html' with form=create_form id="create_obj_modal" title=create_obj_tittle form_id="create_obj_form" url=create_obj_url %}

{% url "api-objectbLog-detail" 0 as update_obj_url %}
{% trans 'Update Blog' as update_obj_tittle %}
{% include 'gentelella/blocks/modal_template.html' with form=update_form id="update_obj_modal" title=update_obj_tittle form_id="update_obj_form" url=update_obj_url %}

{% include 'gentelella/blocks/modal_template_detail.html' with id="detail_obj_modal" %}

{% url "api-objectbLog-detail"  as delete_obj_url %}

{% trans 'Delete Blog' as delete_obj_tittle %}
{% include 'gentelella/blocks/modal_template_delete.html' with form=delete_form id="delete_obj_modal" title=delete_obj_tittle form_id="delete_obj_form" url=delete_obj_url %}

{% endblock %}

{% block js %}
{{block.super}}
<script>

var object_urls ={
	list_url: "{% url 'api-objectbLog-list' %}",
	destroy_url: "{% url 'api-objectbLog-detail' 0 %}",
	detail_url: "{% url 'api-objectbLog-detail' 0 %}",
	detail_template_url: "{% url 'api-objectbLog-detail-template' %}",
	get_values_for_update_url: "{% url 'api-objectbLog-get-values-for-update' 0 %}", // get_object_for_update_url
	create_url: "{{create_obj_url}}",
	update_url: "{{update_obj_url}}"
}



datatable_inits = {
    columns: [
        { data: "id", name: "id", title: gettext("ID"), visible: false },
        { data: "title", name: "title", title: gettext("Title") },
        { data: "author", name: "author", title: gettext("Author") },
        { data: "resume", name: "resume", title: gettext("Resume") },
        { data: "content", name: "content", title: gettext("Content") },
        { data: "categories", name: "categories", title: gettext("Category") },
        { data: "actions", name: "actions", title: gettext("Actions"), type: "string", visible: true }
    ],
    events: {
        filter: function(data) {
            return data;
        },
    },
    addfilter: true,
    rowCallback: function(row, data) {
        $(row).find('.detail-icon').on('click', function(event) {
            event.stopPropagation(); // Evita que el clic en el icono active el evento de clic en la fila
            ocrud.detailblog(data);
        });
    }
};
var obj_modalids = {
	create: "#create_obj_modal",
	//update: "#update_obj_modal",
	destroy: "#delete_obj_modal",
}
var obj_actions = {
    table_actions: [],
    object_actions: [
	 {
     'name': "detailblog",
     'action': 'detailblog',
     'url': null,
     'i_class': 'fa fa-eye',
   },
   {
     'name': "updateblog",
     'action': 'updateblog',
     'url': null,
     'i_class': 'fa fa-edit',
   }
    ],
    title: gettext('Actions'),
    className: "no-export-col"
};
let objconfig={
	urls: object_urls,
	datatable_element:  "#blog_table",
	modal_ids: obj_modalids,
	actions: obj_actions,
	datatable_inits: datatable_inits,
	add_filter: true,
	delete_display: data => data['title']
}



let ocrud=ObjectCRUD("setmeunique", objconfig)/// setmeunique DISTINTO


ocrud.detailblog = function(row) {
    console.log("El row es:", row);
    var slug = row.slug;
    var detailUrl = "{% url 'blog:entrydetail' slug='SLUG' %}".replace("SLUG", slug);
    window.location.href = detailUrl;
};


ocrud.updateblog = function(row) {
    console.log("El id es:", row.id);
    var updateUrl = "{% url 'blog:entry_update' 0 %}".replace("0", row.id);
    window.location.href = updateUrl;
};

ocrud.init();






</script>


{% endblock %}
