{% extends 'gentelella/base_site.html' %}
{% load blog_tags i18n static %}

{% block content %}

<div class="row">
  <div class="col-md-9 col-ms-12">

<div class="x_panel " xmlns="http://www.w3.org/1999/html">
    <div class="x_title">
        <form id='searchform' class="form-inline" method="get" action="" >
            <div class="form-group">
                <div class="input-group">
                 <input type="text" class="form-control" value="{{q}}" name="q" id="q" aria-describedby="search">
                 <div class="input-group-addon " id="searchbtn"><i class="fa fa-search green"></i></div>
                </div>
                <input type="hidden" name="cat" value="{{cat}}" />
            </div>
        </form>

    </div>
        <div class="x_content">
            <ul class="list-unstyled msg_list">
    {% for entry in entries %}
 <li style="list-style-type: none;">

     <div class="media">
           <div class="media-left">
            <a href="{{ entry.get_absolute_url }}">
                {% if entry.feature_image %}
                 <img src="{{ entry.feature_image.url }}"  style="max-width: 256px" class="media-object" alt="{% trans 'Preview image for' %} {{ entry.title }}" class="img-responsive"/>
                {% else %}
                 <img src="{% static 'images/article.png' %}" style="width: 128px"  class="media-object" alt="img">
                {% endif %}
            </a>
          </div>
         <div class="media-body">
             <h4 class="media-heading"><a href="{{ entry.get_absolute_url }}">{{entry.title}}</a></h4>
<div class="pull-right">
    <div >{% if entry.author %} {% trans 'by' %} {{ entry.author|authordisplay }}{% else %}{% trans 'Anonymous' %}{% endif %}</div>
    <span class="time">{{ entry.published_timestamp|date:"DATE_FORMAT" }}</span>

        {% if request.user == entry.author %}
        <a class="btn btn-success btn-mx" href="{{ entry.get_absolute_url }}?preview=True" title="{% trans 'This show the last version of the entry (it\'s not necesary the last published entry)' %}">{% trans 'preview' %}</a>
        {% endif %}
        {% if perms.blog.change_entry %}
            <a class="btn btn-success btn-mx" href="{% url 'blog:entry_update' entry.pk %}">{% trans 'Update' %}</a>
        {% endif %}
</div>
             {% if entry.preview_content %}
                {{ entry.preview_content }}
            {% else %}
                {# Truncate derived from: Avg reading speed (3.33 words/s) * Average attention span (8s) #}
                {{ entry.content|truncatewords_html:26 }} <a href="{{ entry.get_absolute_url }}">{% trans '(More...)' %}</a>
            {% endif %}
         </div>


     </div>

</li>

    {% endfor %}</ul>

            {% include 'gentelella/cruds/pagination/enumeration.html' %}

        </div>
</div>
 </div>
  <div class="col-md-3 col-ms-12">
{% if perms.blog.add_entry %}
 <div class="x_panel " xmlns="http://www.w3.org/1999/html">

        <div class="x_content">
            <a class="btn btn-success" href="{% url 'blog:entrycreate' %}">{% trans 'New Post' %} </a>
        </div>
</div>
{% endif %}
<div class="x_panel " xmlns="http://www.w3.org/1999/html">
    <div class="x_title"><h2>{% trans 'Categories' %}</h2>
        <ul class="nav navbar-right panel_toolbox ">
            <li class="pull-right"><a class="close-link" href="{% url 'blog:entrylist' %}{{catparams}}"><i class="fa fa-close red"></i></a></li>
        </ul>
         <div class="clearfix"></div>
    </div>
        <div class="x_content">
<ul class="to_do">
    {% for category in categories %}
    <li> <a class="{% if category.pk == cat %}green{%endif%}" href="{{catparams}}cat={{category.pk}}"> {{category}} </a></li>
    {% endfor %}
</ul>
        </div>
    </div>
</div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
$("#searchbtn").click(function(){
    $("#searchform").submit();
});
</script>
{% endblock %}