{% extends 'gentelella/base.html' %}
{% load gtsettings timejs %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-title titles">
			<h2>{{id}}</h2>
		</div>


			<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button class="btn btn-primary text-end" type="submit">Submit</button>
			</form>

		</div>
	</div>
</div>
{% endblock %}

{% block js %}

  <script>

			document.addEventListener('DOMContentLoaded', function() {

        const formId = "{{ id }}";
        const type_action = "{{ action }}";

								console.log(formId+'');
        const actionsData = JSON.parse(sessionStorage.getItem('stepData')) || [];

        const matchingCondition = actionsData.find(condition => condition.data.id == formId);

        if (matchingCondition) {

												if(type_action == 'post_action'){
															document.querySelector('#id_name').value = matchingCondition.data.postActions[0].name;
															document.querySelector('#id_description').value = matchingCondition.data.postActions[0].name;
															document.querySelector('#id_content_type').value = matchingCondition.data.postActions[0].content_type;
															document.querySelector('#id_object_id').value = matchingCondition.data.postActions[0].object_id;
												}else{
															document.querySelector('#id_name').value = matchingCondition.data.preActions[0].name;
															document.querySelector('#id_description').value = matchingCondition.data.preActions[0].name;
															document.querySelector('#id_content_type').value = matchingCondition.data.preActions[0].content_type;
															document.querySelector('#id_object_id').value = matchingCondition.data.preActions[0].object_id;
												}

        }else{
        		alert('No se encontro coincidencias.');
        }

        const form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const name = document.querySelector('#id_name').value;
            const description = document.querySelector('#id_description').value;
            const content_type = document.querySelector('#id_content_type').value;
            const object_id = document.querySelector('#id_object_id').value;

            if (!name || !description || !content_type || !object_id) {
                alert('Por favor, completa todos los campos antes de guardar.');
                return;
            }

											var pre_action = [];
											var post_action = [];


											if(type_action == 'post_action'){
														post_action = [
																								{
																												"id": matchingCondition.data.postActions[0].id,
																												"name": name,
																												"description": description,
																												"content_type": content_type,
																												"object_id": object_id
																								}
																				];

														pre_action = [
																								{
																												"id": matchingCondition.data.preActions[0].id,
																												"name": matchingCondition.data.preActions[0].name,
																												"description": matchingCondition.data.preActions[0].description,
																												"content_type": matchingCondition.data.preActions[0].content_type,
																												"object_id": matchingCondition.data.preActions[0].object_id
																								}
																				];
											}else{
														post_action = [
																											{
																															"id": matchingCondition.data.postActions[0].id,
																															"name": matchingCondition.data.postActions[0].name,
																															"description": matchingCondition.data.postActions[0].description,
																															"content_type": matchingCondition.data.postActions[0].content_type,
																															"object_id": matchingCondition.data.postActions[0].object_id
																											}
																							];

																	pre_action = [
																											{
																												"id": matchingCondition.data.preActions[0].id,
																															"name": name,
																															"description": description,
																															"content_type": content_type,
																															"object_id": object_id
																											}
																							];
											}



            const action = 	{
																group: 'nodes',
																data: {
																				"id": matchingCondition.data.id,
																				"name": matchingCondition.data.name,
																				"order": matchingCondition.data.order,
																				"preActions": pre_action,
																				"postActions": post_action
																},
																grabbable: true
												};


            const updatedActionsData = actionsData.filter(condition => condition.data.id !== formId);
            updatedActionsData.push(action);
            sessionStorage.setItem('stepData', JSON.stringify(updatedActionsData));

            var urlBase = "{% url 'actions' %}";
												window.location.href = urlBase;
        });

    });

		</script>

{% endblock js%}
