{% extends 'gentelella/base.html' %}
{% load gtsettings timejs %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-title titles">
			<h2 id="step-title">Create Flow</h2>
		</div>

			<form method="post" id="flow_form" action="{% url 'create_flow' %}">
					{% csrf_token %}
					{{ form.as_p }}
				 <input type="hidden" id="stepsData" name="stepsData">
				 <input type="hidden" id="edgesData" name="edgesData">


					<button class="btn btn-primary" id="create_flow" type="submit">Save</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}

  <script>

			document.getElementById('create_flow').addEventListener('click', function() {
						event.preventDefault();
						var stepsData = JSON.parse(sessionStorage.getItem('stepData')) || {};
						var edgesData = JSON.parse(sessionStorage.getItem('edgeData')) || {};
						document.getElementById('stepsData').value = JSON.stringify(stepsData);
						document.getElementById('edgesData').value = JSON.stringify(edgesData);
						document.getElementById('flow_form').submit();
						sessionStorage.clear();
				});

		</script>

{% endblock js%}
