{% extends 'gentelella/base.html' %}
{% load gtsettings timejs %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-title titles">
			<h2 id="step-title">Create Flow</h2>
		</div>

			<form method="post" id="flow_form" action="{% url 'create_flow' %}">
					{% csrf_token %}
					{{ form.as_p }}
				 <input type="hidden" id="stepsData" name="stepsData">
				 <input type="hidden" id="edgesData" name="edgesData">


					<button class="btn btn-primary" id="create_flow" type="submit">Save</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}

  <script>

			document.addEventListener("DOMContentLoaded", function() {

			const editMode = localStorage.getItem('editMode') === 'true';
										var stepsData = JSON.parse(localStorage.getItem('stepData')) || {};
										var edgesData = JSON.parse(localStorage.getItem('edgeData')) || {};
								const flowData = JSON.parse(localStorage.getItem('flowData')) || {};

						if(editMode){
								document.getElementById('step-title').innerText = "Edit Flow";
								const steps = JSON.parse(localStorage.getItem('stepData')) || {};
								const edges = JSON.parse(localStorage.getItem('edgeData')) || {};

								const form = document.getElementById('flow_form');
            if (flowData) {
																const flow_id = flowData.id;

																form.action = `{% url 'edit_flow_data' 0 %}`.replace('/0/', `/${flow_id}/`);

            				document.querySelector('#id_name').value = flowData.name;
            				document.querySelector('#id_description').value = flowData.description;

            }else{
																document.getElementById('step-title').innerText = "Create Flow";
																form.action = "{% url 'create_flow' %}";
            }

						}


							document.getElementById('create_flow').addEventListener('click', function() {
										event.preventDefault();
										document.getElementById('stepsData').value = JSON.stringify(stepsData);
										document.getElementById('edgesData').value = JSON.stringify(edgesData);
										document.getElementById('flow_form').submit();
										localStorage.clear();
								});


			});



		</script>

{% endblock js%}
