{% extends 'gentelella/base.html' %}
{% load gtsettings timejs %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-title titles">
			<h2 id="step-title"> {{ id }}</h2>
		</div>

			<form method="post" action="{% url 'step' id=id %}">
					{% csrf_token %}
					{{ form.as_p }}
				 <div id="step-info"></div>

					<button class="btn btn-primary" id="submit" type="submit">Submit</button>
			</form>
		</div>
	</div>

{% endblock %}

{% block js %}

  <script>

  var stepData = JSON.parse(localStorage.getItem('stepData')) || [];
  var flowData = JSON.parse(localStorage.getItem('flowData')) || [];
    const editMode = localStorage.getItem('editMode') === 'true';
    var id = "{{ id }}";

        var step = stepData.find(step => step.data.id == id);

        if (step) {
            document.getElementById('id_name').value = step.data.name || '';
            document.getElementById('id_order').value = step.data.order || '';
            document.getElementById('id_status_id').value = step.data.status_id || '';
												const selectedForms = step.data.form || [];
            const formSelect = document.getElementById('id_form').value = step.data.form;

            var pre_action = step.data.pre_action || [];
            var post_action = step.data.post_action || [];

            document.querySelector('[name="pre_action"]').value = JSON.stringify(pre_action);
            document.querySelector('[name="post_action"]').value = JSON.stringify(post_action);
        }

    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(this);

        const selectedForms = Array.from(document.getElementById('id_form').selectedOptions).map(option => option.value);

        const updatedData = {
            id: id,
            name: this.querySelector('[name="name"]').value,
            order: this.querySelector('[name="order"]').value,
            status_id: this.querySelector('[name="status_id"]').value,
            form: selectedForms,
            pre_action: JSON.parse(this.querySelector('[name="pre_action"]').value || "[]"),
            post_action: JSON.parse(this.querySelector('[name="post_action"]').value || "[]")
        };

        const existingIndex = stepData.findIndex(step => step.data.id === id);
        if (existingIndex !== -1) {
            stepData[existingIndex].data = updatedData;
        } else {
            stepData.push({ data: updatedData });
        }

        localStorage.setItem('stepData', JSON.stringify(stepData));

        if (editMode) {
													var edgeData = JSON.parse(localStorage.getItem('edgeData')) || [];
        					const data = {
																	flow: {
																					id: flowData.id || null,
																					name: flowData.name || '',
																					description: flowData.description || '',
																	},
																	steps: stepData.map(step => ({
																					id: step.data.id,
																					name: step.data.name,
																					order: step.data.order,
																					status_id: step.data.status_id,
																					form: step.data.form,
																					pre_action: step.data.pre_action || [],
																					post_action: step.data.post_action || [],
																	})),
																	edges: edgeData.map(edge => ({
																					id: edge.id,
																					source: edge.source,
																					target: edge.target,
																					condition_field: edge.condition_field || '',
																					condition_value: edge.condition_value || '',
																	})),
													};

													localStorage.setItem('data_complete', JSON.stringify(data));

             window.location.href = "{% url 'flow' %}" + `?edit=${editMode}`;
        } else {
            window.location.href = "{% url 'flow' %}";
        }
});

		</script>

{% endblock js%}
