{% extends 'gentelella/base.html' %}
{% load gtsettings timejs %}

{% block content %}
<div class="container mt-5">
    <div class="progress">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            Paso 1 de 10
        </div>
    </div>
</div>
			<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-header text-center">
									<div id="tittle_content"></div>
        </div>
        <div class="card-body">

            <div id="step_content" class="text-center">
            </div>
												<div id="gt_db_form_formset" style="display: none;">
																<!-- Contenido del formset GTDbForm -->
												</div>
												<div id="gt_db_field_form" style="display: none;">
																<!-- Contenido del form GTDbField -->
												</div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button id="previous-button" class="btn btn-secondary" style="display: none;">Anterior</button>
            <button id="next-button" class="btn btn-primary ms-auto">Siguiente</button>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

  <script>

    const flowData = JSON.parse('{{ data|safe }}');
    console.log(flowData);

    let currentStepIndex = 0;

    document.getElementById("tittle_content").innerHTML = `
        <h2>${flowData.flow.name || "No existe este flujo"}</h2>
        <p>${flowData.flow.description || "No hay descripción disponible para este flujo."}</p>`;

    function displayStep(i) {
        const step = flowData.steps[i];
        if (step) {
            let formHtml = `
                <h3 class="my-3">${step.name}</h3>
                <h3 class="my-3">${step.order}</h3>
                <p>${step.description || "No hay descripción disponible para este paso."}</p>`;

            const formFormsetElement = document.getElementById("gt_db_form_formset");
            const fieldFormElement = document.getElementById("gt_db_field_form");

            if (formFormsetElement && fieldFormElement) {
																	formHtml += `<div id="gtDbFormFormsetContainer">`;

																	step.forms_with_fields.forEach(formWithFields => {
																					formHtml += `
																									<div class="form-container">
																													<h4>Formulario: ${formWithFields.token || "Formulario no disponible"}</h4>`;

																					formWithFields.fields.forEach(field => {
																									formHtml += `
																													<div class="form-group">
																																	<label for="field_${field.id}">${field.label}</label>
																																	<input type="text" id="field_${field.id}" name="field_${field.name}" class="form-control" required="${field.required}">
																													</div>`;
																					});

																					formHtml += `</div>`;
																	});

																	formHtml += `</div>`;
            } else {
                console.error("Los elementos 'gt_db_form_formset' o 'gt_db_field_form' no existen en el DOM.");
            }

            document.getElementById("step_content").innerHTML = formHtml;
            updateProgressBar(i);
            updateNavigationButtons(i);
        } else {
            console.error("El paso no existe en el índice:", i);
        }
    }

    function updateProgressBar(i) {
        const totalSteps = flowData.steps.length;
        const progressPercentage = ((i + 1) / totalSteps) * 100;
        const progressBar = document.getElementById("progress-bar");

        progressBar.style.width = `${progressPercentage}%`;
        progressBar.setAttribute('aria-valuenow', progressPercentage);
        progressBar.innerText = `Paso ${i + 1} de ${totalSteps}`;
    }

    function getNextStepIndex(currentIndex) {
        return currentIndex + 1 < flowData.steps.length ? currentIndex + 1 : currentIndex;
    }

    function getPreviousStepIndex(currentIndex) {
        return currentIndex > 0 ? currentIndex - 1 : 0;
    }

    function updateNavigationButtons(i) {
        const nextButton = document.getElementById("next-button");
        const previousButton = document.getElementById("previous-button");

        previousButton.style.display = i > 0 ? "inline-block" : "none";

        if (i === flowData.steps.length - 1) {
            nextButton.innerText = "Finalizar";
        } else {
            nextButton.innerText = "Siguiente";
        }
    }

    document.getElementById("next-button").addEventListener("click", () => {
        const nextIndex = getNextStepIndex(currentStepIndex);
        if (nextIndex !== currentStepIndex) {
            currentStepIndex = nextIndex;
            displayStep(currentStepIndex);
        }
    });

    document.getElementById("previous-button").addEventListener("click", () => {
        const previousIndex = getPreviousStepIndex(currentStepIndex);
        if (previousIndex !== currentStepIndex) {
            currentStepIndex = previousIndex;
            displayStep(currentStepIndex);
        }
    });

    displayStep(currentStepIndex);
		</script>

{% endblock js%}
