{% extends 'gentelella/base_site.html' %}

{% block content %}

<div class="row">
    <div class='col-12 col-sm-12 col-md-12 col-lg-6'>
        <div class="card gencrud ">
            <div class="card-body">
                <div class="card-title titles"> <h2>Input Mask</h2></div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_inline}}
        <a class="btn btn-primary" href="{% url 'input-mask-add' %}">Cancel</a>
        <input class="btn btn-success" type="submit" value="Save" />
        </form>

    </div>
</div>
</div>
</div>


{% endblock %}
{% block js %}
{{ form.media }} {% endblock %}