{% load i18n %}
{% load crud_tags %}
<style>
.box-footer{
    margin-bottom: 30px;
}
</style>
<form action="{% if action == 'create'%}{{url_create}}{%else%}{{url_update}}{% endif %}{{getparams}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="box-body row">
        <div class="col-md-12">
            {% form_get_form_display form as render_field %}
            {{ render_field }}
        </div>
    </div>


    {% if not form.helper %}
    <div class="box-footer">
        <div class="form-group">
            <div class="controls text-right">
                {% if url_delete %}
                    <a href="{{ url_delete }}" class="btn btn-danger">{% icon_fa_tag "delete" %} {% trans "Delete" %}</a>
                {% endif %}
                <button type="submit" class="btn btn-success">{% icon_fa_tag "submit" %} {% trans "Submit" %}</button>
            </div>
        </div>
    </div>
    {% endif %}
</form>
{{ form.media }}