{% extends template_father %}
{% load i18n static %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Create new" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Create new" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}

{% block content %}

<div class="x_panel gencrud">
<div class="x_title">

<ul class="nav navbar-left panel_toolbox">
        {% if crud_perms.list %}
        <li><a href="{{ url_list }}{{getparams}}" title=" {% trans "Back to" %} {{ model_verbose_name_plural|lower }}">
            <i class="fa fa-angle-double-left red"></i>
        </a></li>
        {% endif %}
</ul>
    <h2>{% trans "New" %} {{ model_verbose_name_plural|lower }}</h2>
    <div class="clearfix"></div>
</div>
    <div class="x_content">
        {% include "gentelella/cruds/_form.html" with action='create' %}
    </div>

</div>
{% endblock %}

