{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Detail of" %} {{ model_verbose_name|lower }}{% endif %}{% endblock %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Detail of" %} {{ object }}{% endif %}{% endblock %}


{% block content %}

<div class="x_panel gencrud">
<div class="x_title">

<ul class="nav navbar-left panel_toolbox">
        {% if url_list and 'list' in views_available and crud_perms.list %}
        <li><a href="{{ url_list }}{{getparams}}" title=" {% trans "Back to" %} {{ model_verbose_name_plural|lower }}">
            <i class="fa fa-angle-double-left red"></i>
        </a></li>
        {% endif %}
</ul>
    <h2>{% trans "Detail of" %} {{ model_verbose_name_plural|lower }}</h2>
<ul class="nav navbar-right panel_toolbox">
            {% if url_update and 'update' in views_available and crud_perms.update %}
            <li>
                <a href="{{ url_update }}{{getparams}}" title="{% trans 'Edit' %}" > <i class="fa fa-edit blue"></i></a>
            </li>
            {% endif %}
</ul>
    <div class="clearfix"></div>
</div>
<div class="x_content">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>{% trans 'Label' %}</th><th>{% trans 'Value' %}</th>
                </thead>
                <tbody>
                    {% crud_fields object fields %}
                </tbody>
            </table>
        </div>
</div>
</div>

{% endblock %}
