{% extends template_father %}
{% load i18n static %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Update" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Update" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}

{% block content %}
<div class="x_panel gencrud">
<div class="x_title">

<ul class="nav navbar-left panel_toolbox">
        {% if crud_perms.list %}
        <li><a href="{{ url_list }}{{getparams}}" title=" {% trans "Back to" %} {{ model_verbose_name_plural|lower }}">
            <i class="fa fa-angle-double-left red"></i>
        </a></li>
        {% endif %}
</ul>
    <h2>{% trans "Update" %} {{ model_verbose_name_plural|lower }}</h2>
    <div class="clearfix"></div>
</div>
    <div class="x_content">
        {% include "gentelella/cruds/_form.html" with action='update' %}
        {% if inlines%}
            <div class="box-body row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                    {% for inline in inlines%}
                    <div class="panel-heading">
                        <h3 class="panel-title">{{inline.title}}</h3>
                    </div>
                    <div class="panel-body">
                        <div id="{{inline.name}}_father">
                            {% if 'list' in inline.views_available %}
                            <div data-refresh-url="{% crud_inline_url form.instance inline.model 'list' namespace %}" id="{{inline.name}}_myList" style="overflow: auto">

                                <a id="{{inline.name}}_btn" data-replace-inner="#{{inline.name}}_myList"
                                    data-ajax="" data-success="function(){}"
                                    data-href="{% crud_inline_url form.instance inline.model 'list' namespace %}">
                                    <i class='fa fa-spinner fa-spin '></i>
                                </a>
                                <script>
                                $( document ).ready(function() {$("#{{inline.name}}_btn").click() });
                                </script>
                            </div>
                            {% endif %}
                            <div id="{{inline.name}}_editList"></div>
                            <div class="text-right">
                                {% if 'create' in inline.views_available %}
                                    <button class="btn btn-success"
                                        data-href="{% crud_inline_url form.instance inline.model 'create' namespace %}"

                                        id="#{{ name }}_{{ object.pk }}_add"
                                        data-replace-inner="#edit_modal_inner"


                                        data-replace-inner="#{{inline.name}}_editList"
                                        data-ajax="" data-success="function(){}" >
                                        {% icon_fa_tag "create" %} {% trans 'Create' %}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}

 {% block js %}
    <script src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
{% endblock %}
