{% extends template_father %}
{% load i18n %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Update" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Update" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}

{% block content %}
<div class="card gencrud">
     <div class="card-body">
<div class="card-title titles">
  <div class="clearfix">
<div class="float-start">
    <ul class="nav navbar-left panel_toolbox" style="margin-top:-5px" >
        {% if crud_perms.list %}
        <li><a href="{{ url_list }}{{getparams}}" title=" {% trans "Back to" %} {{ model_verbose_name_plural|lower }}">
            <i class="fa fa-angle-double-left red"></i>
        </a></li>
        {% endif %}
</ul>
</div>
    <h2>{% trans "Update" %} {{ model_verbose_name_plural|lower }}</h2>
  </div>
</div>

        {% include "gentelella/cruds/_form.html" with action='update' %}

    </div>
</div>
{% endblock %}
