{% extends 'gentelella/base.html' %}
{% load urlname_tags %}
{% block content %}
{% block pre_head %}
{% define_urlname_action 'abcde-add'%}
{% define_urlname_action 'abcde-edit'%}
{% define_urlname_action 'abcde-list'%}
{% endblock%}


<div class="row">

    <div class="col-12 col-sm-12 col-md-12">

        <div class="card">
            <div class="card-body">
                <div class="card-title titles">
                    <div class="clearfix">
                        <h2>ABCDE</h2>

                        <ul class="nav navbar-right panel_toolbox" style="margin-top:-40px;">
                            <li>
                                <a href="{% url 'abcde-add' %}" class="collapse-link"><i class="fa fa-plus green"
                                                                                         style="font-size: 2em"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div>
                    <ul class="to_do">
                        {% for obj in object_list %}
                        <li>{{obj}} <a class="btn btn-sm btn-info float-end" href="{% url 'abcde-edit' obj.pk %}"><i
                                class="fa fa-edit"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}