{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'vendors/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendors/bulma/bulma-accordion.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/tinymce/skin.min.css' %}"/>
    <link href="{% static 'gentelella/css/editor.css' %}" rel="stylesheet">
    <title>EditorPDF</title>
</head>



<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <h2><strong>Editor</strong></h2>
                <!--  <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
            </a>

            <a role="button" id="nav-toggle" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="nav-menu" class="navbar-menu">

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a id="edit" class="button is-info">
                            <strong><i class="fas fa-edit"></i></strong>
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a id="files" class="button is-primary">
                            <strong><i class="fas fa-download"></i></strong>
                        </a>
                    </div>
                </div>

                <div class="navbar-item">
                    <div class="buttons">
                        <a id="view" class="button is-info">
                            <strong><i class="fas fa-eye"></i></strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="menu-side">

            <h2 class="pb-2"> Blocks </h2>
            <div class="accordions">
                <article class="accordion is-active">
                    <div class="accordion-header">
                        <p>Grids</p>
                        <button class="toggle" aria-label="toggle"></button>
                    </div>
                    <div class="accordion-body">
                        <div class="accordion-content options">
                            <div class="sidebar">
                                <span class="move button is-small"><i class="fas fa-arrows-alt"></i></span>
                                <span class="b_delete button is-small is-danger" style="display: none;"><i
                                        class="far fa-trash-alt"></i></span>
                                <input class="input grids" type="text" placeholder="Text input" value="8 4">
                                <div class="columns coll" style="display: none;">
                                    <div class="column is-8">
                                        <pdf:nextframe name="" />
                                    </div>
                                    <div class="column is-4">
                                        <pdf:nextframe name="" />
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar">
                                <span class="move button is-small"><i class="fas fa-arrows-alt"></i></span>
                                <span class="b_delete button is-small is-danger" style="display: none;"><i
                                        class="far fa-trash-alt"></i></span>
                                <input class="input grids" type="text" placeholder="Text input" value="6 6">
                                <div class="columns coll" style="display: none;">
                                    <div class="column is-6">
                                    </div>
                                    <div class="column is-6">
                                    </div>

                                </div>
                            </div>

                            <div class="sidebar">
                                <span class="move btn-grid button is-small"><i class="fas fa-arrows-alt"></i></span>
                                <span class="b_delete btn-grid button is-small is-danger" style="display: none;"><i
                                        class="far fa-trash-alt"></i></span>
                                <input class="input grids" type="text" placeholder="Text input" value="4 4 4">
                                <div class="columns coll" style="display: none;">
                                    <div class="column is-4">
                                    </div>
                                    <div class="column is-4">
                                    </div>
                                    <div class="column is-4">
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar">
                                <span class="move btn-grid button is-small"><i class="fas fa-arrows-alt"></i></span>
                                <span class="b_delete btn-grid button is-small is-danger" style="display: none;"><i
                                        class="far fa-trash-alt"></i></span>
                                <input class="input grids" type="text" placeholder="Text input" value="">
                                <div class="columns coll" style="display: none;">

                                </div>
                            </div>

                        </div>
                </article>
                <article class="accordion">
                    <div class="accordion-header">
                        <p>Components</p>
                        <button class="toggle" aria-label="toggle"></button>
                    </div>
                    <div class="accordion-body">
                        <div class="accordion-content options">
                            <div class="components">
                                <span class="move button is-small"><i class="fas fa-arrows-alt"></i></span>
                                <span class="b_delete button is-small is-danger" style="display: none;"><i
                                        class="far fa-trash-alt"></i> </span>
                                <label>Paragraph</label>
                                <div class="content" style="display: none;">
                                    <div class="editor">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                            tempora vitae itaque quod iure, nobis culpa totam</p>
                                    </div>
                                </div>
                            </div>
                            <div class="components">
                                <span class="move button is-small"><i class="fas fa-arrows-alt"></i></span>
                                <span class="b_delete button is-small is-danger" style="display: none;"><i
                                        class="far fa-trash-alt"></i> </span>
                                <label>IMG</label>
                                <div class="content" style="display: none;">
                                    <div class="editor">
                                        <img src="https://2.bp.blogspot.com/-MMyFSALjxqs/WlhXZbSxlGI/AAAAAAAAJUw/dM1gSSLanlIIMzovI83pU435XerV9_uNgCLcBGAs/s1600/Amazonas_b.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="components">
                                <span class="move button is-small"><i class="fas fa-arrows-alt"></i></span>
                                <span class="b_delete button is-small is-danger" style="display: none;"><i
                                        class="far fa-trash-alt"></i> </span>
                                <label>Separator</label>
                                <div class="content" style="display: none;">
                                    <div class="editor">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="components">
                                <span class="move button is-small"><i class="fas fa-arrows-alt"></i></span>
                                <span class="b_delete button is-small is-danger" style="display: none;"><i
                                        class="far fa-trash-alt"></i> </span>
                                <label>Table</label>
                                <div class="content" style="display: none;">
                                    <div class="editor">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th><abbr title="Position">Pos</abbr></th>
                                                    <th>Team</th>
                                                    <th><abbr title="Played">Pld</abbr></th>
                                                    <th><abbr title="Won">W</abbr></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <th>1</th>
                                                    <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                                                            title="Leicester City F.C.">Leicester City</a>
                                                        <strong>(C)</strong>
                                                    </td>
                                                    <td>38</td>
                                                    <td>Qualification for the <a
                                                            href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
                                                            title="2016–17 UEFA Champions League">Champions League group
                                                            stage</a></td>
                                                </tr>
                                                <tr>
                                                    <th>2</th>
                                                    <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C."
                                                            title="Arsenal F.C.">Arsenal</a></td>
                                                    <td>38</td>
                                                    <td>Qualification for the <a
                                                            href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
                                                            title="2016–17 UEFA Champions League">Champions League group
                                                            stage</a></td>
                                                </tr>
                                                <tr>
                                                    <th>4</th>
                                                    <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C."
                                                            title="Manchester City F.C.">Manchester City</a></td>
                                                    <td>38</td>
                                                    <td>Qualification for the <a
                                                            href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Play-off_round"
                                                            title="2016–17 UEFA Champions League">Champions League
                                                            play-off round</a></td>
                                                </tr>
                                                <tr>
                                                    <th>5</th>
                                                    <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C."
                                                            title="Manchester United F.C.">Manchester United</a></td>
                                                    <td>38</td>
                                                    <td>Qualification for the <a
                                                            href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage"
                                                            title="2016–17 UEFA Europa League">Europa League group
                                                            stage</a></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </div>
        <div id="main-content">
            <div class="drag"></div>
        </div>
    </div>
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bulma/bulma-accordion.min.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.5.1/tinymce.min.js"
    integrity="sha512-rCSG4Ab3y6N79xYzoaCqt9gMHR0T9US5O5iBuB25LtIQ1Hsv3jKjREwEMeud8q7KRgPtxhmJesa1c9pl6upZvg=="
    crossorigin="anonymous"></script>
    <script src="{% static 'vendors/tinymce/jquery.tinymce.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="{% static 'gentelella/js/base/drag_drop.js' %}"></script>
</body>

</html>