{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'vendors/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/css/bulma-accordion.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <title>Document</title>
</head>

<style>
    .ui-sortable-handle {
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgb(58, 58, 226);
    }

    .columns .cols {
        padding: 25px;
    }

    .row {
        padding: 20px;
        margin: 0;
        position: relative;
    }

    .parag {
        padding: 20px;
        margin: 0;
        position: relative;
    }

    .drag {
        overflow-y: auto;
    }

    .b_delete {
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        opacity: 0.2;
    }

    .cols {
        border: 1px solid black;
    }

    .op {
        border: 2px dotted lightblue;
    }
    .level{
        z-index: 3;
        margin-top: 15px;
    }
</style>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a id="files" class="button is-primary is-hidden">
                        <strong>Download</strong>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </nav>
    <div class="columns pt-5 pl-3 pr-3">
        <div class='column is-3'>
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <h2 class="pb-2"> Bloques </h2>
                    </div>
                    <section class="accordions">
                        <article class="accordion is-active">
                            <div class="accordion-header">
                                <p>Headers</p>
                                <button class="toggle" aria-label="toggle"></button>

                            </div>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    <div class=" columns is-align-items-center">
                                        <div class="column is-one-third">
                                            <span id="nav-1" class="bb button is-small">Drag</span>
                                        </div>
                                        <div class="column">
                                            <p class="has-text-right">Navbar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-header">
                                <p>Columns</p>
                                <button class="toggle" aria-label="toggle"></button>
                            </div>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    <div class="columns is-align-items-center">
                                        <div class="column is-one-third">
                                            <span class="bb btn-grid button is-small">Drag</span>
                                        </div>
                                        <div class="column">
                                            <input class="input grids" type="text" placeholder="Text input" value="8 4">
                                        </div>
                                    </div>
                                    <div class=" columns is-align-items-center">
                                        <div class="column is-one-third">
                                            <span class="bb btn-grid button is-small">Drag</span>
                                        </div>
                                        <div class="column">
                                            <input class="input grids" type="text" placeholder="Text input" value="6 6">
                                        </div>
                                    </div>

                                    <div class=" columns is-align-items-center">
                                        <div class="column is-one-third">
                                            <span class="bb btn-grid button is-small">Drag</span>
                                        </div>
                                        <div class="column">
                                            <input class="input grids" type="text" placeholder="Text input" value="4 4 4">
                                        </div>
                                    </div>
                                    <div class=" columns is-align-items-center">
                                        <div class="column is-one-third">
                                            <span class="bb btn-grid button is-small" style="display: none;">Drag</span>
                                        </div>
                                        <div class="column">
                                            <input class="input grids" type="text" placeholder="Text input">
                                        </div>
                                    </div>

                                </div>
                        </article>

                        <article class="accordion">
                            <div class="accordion-header">
                                <p>Text</p>
                                <button class="toggle" aria-label="toggle"></button>
                            </div>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    <div class=" columns is-align-items-center">
                                        <div class="column is-one-third">
                                            <span id="text" class="bb button is-small">Drag</span>
                                        </div>
                                        <div class="column">
                                            <p class="has-text-right">Paragraph</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
        <div class='column is-9 has-background-blue'>
            <div class="drag has-background-primary" style="height: 500px;">
            </div>
        </div>
    </div>

    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="{% static 'gentelella/js/base/drag_drop.js' %}"></script>
</body>

</html>