{% extends 'gentelella/base.html' %}
{% load static %}
{% block content %}
<form method="post"> {% csrf_token %}
<div class="row formset">
    <div class="col-12 col-sm-12 col-md-12 formlist">
{% for form in formset %}
        {% include 'formset_form.html' %}
{% endfor %}
    </div>

    <div class="hidden formsetcontrol"
         data-delete="{% if formset.can_delete %}1{% else %}0{% endif %}"
         data-order="{% if formset.can_order %}1{% else %}0{% endif %}"
         data-validate-min="{% if formset.validate_min %}1{% else %}0{% endif %}"
         data-validate-max="{% if formset.validate_max %}1{% else %}0{% endif %}"
         data-extra="{{formset.extra}}"  data-prefix="{{formset.prefix}}"
         >
         {{ formset.management_form }}
        {% spaceless %}
        <div class="hidden formsettemplate">
            <!-- {% include 'formset_form.html' with form=formset.empty_form %} -->
        </div>
        {% endspaceless %}
    </div>

    <button type="button" class="btn btn-success formsetadd" >Add </button>
</div>
</form>
{% endblock %}

{% block js %}
    {{ formset.media }}
    <script src="{% static 'gentelella/js/formset.js' %}"></script>
{% endblock %}