<div class="x_panel">
<div class="x_title">
<ul class="nav navbar-right panel_toolbox">
{% if formset.can_order %}
<li><a class="btndown collapse-link"><i class="fa fa-chevron-down"></i></a></li>
<li><a class="btnup collapse-link"><i class="fa fa-chevron-up"></i></a></li>
{% endif %}
{% if formset.can_delete %}
    <li><a class="deletebtn close-link"><i class="fa fa-close"></i></a>
{% endif %}
</li>
</ul>
<div class="clearfix"></div>
</div>
<div class="x_content">
 {{ formset.empty_form.as_horizontal }}
</div>
</div>