{% extends 'gentelella/index.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card">

            <div class="card-body">
                <div class="card-title titles"><h2>Colors Model form</h2></div>
                    <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_inline}}
                    <input class="btn btn-success" type="submit"  value="Save"/>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title titles"><h2>Colors simple form</h2></div>
                {{form_widgets.as_plain }}</div>
        </div>
    </div>
</div>



{% endblock %}

{% block javascripts %}
    {{ block.super }}
    {{form.media}}
    {{form_widgets.media}}
{% endblock %}



