{% extends 'gentelella/base.html' %}
{% load i18n %}
{% load static %}
{% load timejs %}
{% load urlname_tags %}
{% load gtsettings %}

{% block pre_head %}
{% define_true  "use_datatables" %}
{% define_urlname_action 'object_management' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-2 col-md-8">
		<div class="page-header" align="center">
			<h3 class="heading-1"><span> {% trans 'List of Objects' %}  </span></h3>
		</div>
	</div>
</div>
<div class="row">
	<table class="table table-striped w-100" id="object_table"></table>
</div>

{% url "api-personobjectmanagement-list"  as create_obj_url %}
{% trans 'Create Person' as create_obj_tittle %}
{% include 'gentelella/blocks/modal_template.html' with form=create_form id="create_obj_modal" title=create_obj_tittle form_id="create_obj_form" url=create_obj_url %}

{% url "api-personobjectmanagement-detail" 0 as update_obj_url %}
{% trans 'Update Person' as update_obj_tittle %}
{% include 'gentelella/blocks/modal_template.html' with form=update_form id="update_obj_modal" title=update_obj_tittle form_id="update_obj_form" url=update_obj_url %}

{% include 'gentelella/blocks/modal_template_detail.html' with id="detail_obj_modal" %}

{% url "api-personobjectmanagement-detail"  as delete_obj_url %}
{% trans 'Delete Person' as delete_obj_tittle %}
{% include 'gentelella/blocks/modal_template_delete.html' with form=delete_form id="delete_obj_modal" title=delete_obj_tittle form_id="delete_obj_form" url=delete_obj_url %}

{% endblock %}

{% block js %}
{{block.super}}
<script>
document.datetime_format="{% get_datetime_format %}";
document.date_format="{% get_date_format %}";
var object_urls ={
	list_url: "{% url 'api-personobjectmanagement-list' %}",
	destroy_url: "{% url 'api-personobjectmanagement-detail' 0 %}",
	detail_url: "{% url 'api-personobjectmanagement-detail' 0 %}",
	detail_template_url: "{% url 'api-personobjectmanagement-detail-template' %}",
	update_values_url: "{% url 'api-personobjectmanagement-update-values' 0 %}", // get_object_for_update_url
	create_url: "{{create_obj_url}}",
	update_url: "{{update_obj_url}}"
}

datatableinits = {
			columns: [
							{data: "id", name: "id", title: gettext("Id"), type: "string", visible: false},
							{data: "name", name: "name", title: gettext("Name"), type: "string", visible: true},
							{data: "last_time", name: "last_time", title: gettext("Last Time"), type: "date",  render: DataTable.render.datetime(),
							"dateformat":  document.datetime_format, visible: true},
							{data: "born_date", name: "born_date", title: gettext("Born date"), type: "date",  render: DataTable.render.date(),
							"dateformat":  document.date_format, visible: true},
							{data: "country", name: "country__name", title: "Country", type: "string", visible: true,
							render: selectobjprint({display_name: "name"}) },
							{data: "num_children", name: "num_children", title: gettext("Num Children"), type: "string", visible: true },
							{data: "actions", name: "actions", title: gettext("Actions"), type: "string", visible: true }

			],
			events: {
					filter: function(data){
							return data;
						}
			},
			addfilter: true
}

var obj_modalids = {
	create: "#create_obj_modal",
	update: "#update_obj_modal",
	detail: "#detail_obj_modal",
	destroy: "#delete_obj_modal",
}
var obj_actions = {
	 instance_action: [],  //table_actions
	 obj_action: [],  // object_actions
		title: gettext('Actions'),
		className:  "no-export-col"
}

let objconfig={
	urls: object_urls,
	datatable_element:  "#object_table",
	modal_ids: obj_modalids,
	actions: obj_actions,
	datatable_inits: datatableinits,
	add_filter: true,
	relation_render: {'country': 'name' },
	delete_display: data => data['name']
}

let ocrud=ObjectCRUD("setmeunique", objconfig)


ocrud.init();

























</script>


{% endblock %}
