{% extends 'gentelella/base.html' %}
{% load urlname_tags %}

{% block pre_head %}
{% get_or_create_permission_context 'pgroup-edit,pgroup-add,pgroup-list' 'demoapp' 'change_peoplegroup,add_peoplegroup,view_peoplegroup' 'Edit group,Create group,List groups' 'Group' %}
{% define_urlname_action 'pgroup-add'%}
{% define_urlname_action 'pgroup-edit'%}
{% define_urlname_action 'pgroup-list'%}
{% endblock%}

{% block content %}

<div class="card">
    <div class="card-body">
        <div class="card-title titles">
            <h2>People group</h2>
            <ul class="nav navbar-right d-flex flex-row-reverse">
                <li><a href="{% url 'pgroup-add' %}" class="collapse-link"><i class="fa fa-plus green" style="font-size: 2em"></i></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>

        <div>
            <ul class="to_do">
                {% for obj in object_list %}
                <li>{{obj}} <a class="btn btn-xs btn-info pull-right" href="{% url 'pgroup-edit' obj.pk %}"><i class="fa fa-edit"></i></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



{% endblock %}