{% extends 'gentelella/base.html' %}

{% block content %}



<div class="card">
    <div class="card-body">
        <div class="card-title titles">
            <div class="clearfix">
                <div class="float-left">
                    <h2>People group</h2>
                </div>
                <div class="float-right text-center">
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a href="{% url 'pgroup-add' %}" class="collapse-link"><i class="fa fa-plus green"
                                    style="font-size: 2em"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <ul class="to_do">
                {% for obj in object_list %}
                <li>{{obj}} <a class="btn btn-sm btn-info float-right" href="{% url 'pgroup-edit' obj.pk %}"><i
                            class="fa fa-edit"></i></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



{% endblock %}