{% extends 'gentelella/base_site.html' %}
{% load i18n urlname_tags %}

{% block content %}
{% block pre_head %}
    {% define_urlname_action 'yes-no-input-add'%}
{% endblock %}

    <div class="x_panel">
        <h2>YesNoInput Widget</h2>
        <div class="x_title"></div>
        <div class="x_content">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_horizontal }}
                <div class="pull-right">
                    <button class="btn btn-success" type="submit" name="savebtn" value="save">{% trans 'Save' %}</button>
                    <button id="btn_from_template" class="btn btn-warning" type="submit" >{% trans 'Publish' %}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="x_panel">
        <h2>Extra publish form</h2>
        <div class="x_title"></div>
        <div class="x_content">
            <h2 id="display_publish_info">Extra information to display when display publish is set</h2>
        </div>
    </div>
{% endblock %}
