{% extends 'gentelella/base.html' %}
{% block content %}
<!--<form style="left:600px" action="" method="POST">
  {% csrf_token %}
  {{form.as_table}}
  <button type="submit">Buscar</button>
</form>
<script>
  $(document).ready(function(){
  });
</script>
<optgroup label="Test Op">
      <option data-icon="fa-heart">dzd</option>
      <option>sdz</option>
      <option>hhzs2</option>
      <option>czsc</option>
    </optgroup>
-->
<div style="height: auto; display:flex">
  <select id="multiselect-options" style="overflow: hidden; width:50%" multiple="multiple" size="8">
    <option id=1>jjj</option>
    {% for elem in data_pred %}
      <option id={{elem.id}}>{{elem.desc}} - {{elem.id}}</option>
    {% endfor %}
  </select>
  <div id="action-btn" style="padding-left: 2%; align-self: center">
    <button class="btn btn-primary" onclick="dd()">Add</button>
    <button class="btn btn-warning" type="submit">Return</button>
  </div>
  <select id="selected-options" style="overflow: hidden; width:50%" multiple="multiple" >
    {% for e in diction %}
      <option>{{e.value}}</option>
    {% endfor %}
  </select>
</div>
<script>
  var diction = {}
  //localStorage.clear()
  $(document).ready(function(){
    if(localStorage.getItem("saved_dict") !== null){
      diction = JSON.parse(window.localStorage.getItem("saved_dict"));
      testDict();
      console.log(diction);
    }
  });

  function dd(){
    let hh = []
    let jj = document.querySelectorAll('#multiselect-options :checked')
    jj.forEach((e) => {
      diction[e.id] = e.value;
      //$("#selected-options").append(`<option id=${e.index}>${e.value}</option>`);
      hh.push(e.index);
    });
    window.localStorage.setItem("saved_dict", JSON.stringify(diction));
    testDict()
    console.log(JSON.parse(window.localStorage.getItem("saved_dict")));
  };

  function testDict(){
    for (let values in diction){
      $("#selected-options").append(`<option id=${values}_${diction[values]}>${diction[values]}</option>`);
      let removed_data = document.getElementById(values)
      if(removed_data !== null){
        removed_data.remove()
      }
    }
  }
</script>
{% endblock %}
