.widget-digital-signature .canvas_container {
    border-radius: 4px;
}

.widget-digital-signature .cursor-pointer {
    cursor: pointer;
}

.widget-digital-signature .cursor-pointer:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.widget-digital-signature .sub_canvas_container {
    position: relative;
    max-width: 100%;
    max-height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-y: auto;
    /*max-width: 770px;*/
    /*max-height: 950px;*/
}

.widget-digital-signature .pdfviewer {
    /*width: 100%;*/
    /*height: auto;*/
    display: block;
}

.widget-digital-signature .signature {
    display: grid;
    grid-template-areas:
    "top top top"
    "left full right"
    "bottom bottom bottom";
    border: 1px solid #ccc;
    position: absolute;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    border: 1px solid #ccc;
    border-radius: 0px !important;
    min-width: 25%;
    min-height: 20%;
}

.widget-digital-signature .image {
    grid-area: left;
}

.widget-digital-signature .image img {
    display: block;
    object-fit: contain;
    max-width: 150px;
    max-height: 100px;
}

.widget-digital-signature .text {
    grid-area: right;
    overflow: hidden;
    white-space: pre-line;
}

.widget-digital-signature .signature.right .image {
    grid-area: left;
}

.widget-digital-signature .signature.left .image {
    grid-area: right;
}

.widget-digital-signature .signature.top .image {
    grid-area: bottom;
}

.widget-digital-signature .signature.bottom .image {
    grid-area: top;
}

.widget-digital-signature .signature.full .image {
    display: none;
}

.widget-digital-signature .signature.none .image {
    display: block;
}

.widget-digital-signature .signature.right .text {
    grid-area: right;
}

.widget-digital-signature .signature.left .text {
    grid-area: left;
}

.widget-digital-signature .signature.top .text {
    grid-area: top;
}

.widget-digital-signature .signature.bottom .text {
    grid-area: bottom;
}

.widget-digital-signature .signature.full .text {
    grid-area: full;
}

.widget-digital-signature .signature.none .text {
    display: none;
}

.widget-digital-signature .select-container {
  position: relative;
  display: inline-block;
}

.widget-digital-signature .select-container i {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.widget-digital-signature .select-container select {
  padding-left: 40px;
}

.widget-digital-signature .loading-animation {
  display: inline-block;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.95);
  }
}
