.left_col {
  background: #2A3F54; }

.nav_title {
  width: 230px;
  float: left;
  background: #2A3F54;
  border-radius: 0;
  height: 57px; }

.site_title i {
  border: 1px solid #eaeaea;
  padding: 5px 6px;
  border-radius: 50%; }

.sidebar-footer {
  bottom: 0px;
  clear: both;
  display: block;
  padding: 5px 0 0 0;
  position: fixed;
  width: 230px;
  z-index: 999;
  background: #2A3F54; }

.sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  cursor: pointer;
  background: #172D44; }

.sidebar-footer a:hover {
  background: #425567; }

.nav_title {
  width: 230px;
  float: left;
  background: #2a3f54;
  border-radius: 0;
  height: 57px; }

.nav-sm .nav.child_menu li.active {
  border-right: 5px solid #1abb9c; }

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
  border-right: 5px solid #1ABB9C !important; }

.nav.side-menu > li > a:hover {
  color: #f2f5f7 !important; }

.sidebar-header {
  border-bottom: 0;
  margin-top: 46px; }
  .sidebar-header:first-of-type {
    margin-top: 0; }

.nav-md ul.nav.child_menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%; }

.nav-md ul.nav.child_menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0; }

.nav.child_menu li:hover, .nav.child_menu li.active {
  background-color: rgba(255, 255, 255, 0.06); }

.nav li.current-page {
  background: rgba(255, 255, 255, 0.05); }

body {
  color: #73879c;
  background: #2a3f54;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471; }

.nav-md .container.body .col-md-3.left_col {
  min-height: 100%;
  width: 230px;
  padding: 0;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  z-index: 1; }

.nav-md .container.body .col-md-3.left_col.menu_fixed {
  height: 100%;
  position: fixed; }

body .container.body .right_col {
  background: #f7f7f7; }

.nav-md .container.body .right_col {
  padding: 10px 20px 0;
  margin-left: 230px; }

@media (max-width: 991px) {
  .nav-md .container.body .right_col,
  .nav-md .container.body .top_nav {
    width: 100%;
    margin: 0; } }

@media (max-width: 991px) {
  .nav-md .container.body .col-md-3.left_col {
    display: none; } }

@media (max-width: 991px) {
  .nav-md .container.body .right_col {
    width: 100%;
    padding-right: 0; } }

.nav-sm .container.body .col-md-3.left_col {
  min-height: 100%;
  width: 70px;
  padding: 0;
  z-index: 9999;
  position: absolute; }

.nav-sm .container.body .col-md-3.left_col.menu_fixed {
  position: fixed;
  height: 100%; }

.nav-sm .container.body .col-md-3.left_col .mCSB_container,
.nav-sm .container.body .col-md-3.left_col .mCustomScrollBox {
  overflow: visible; }

@media (max-width: 991px) {
  .right_col {
    padding: 10px !important; } }

.row {
  margin-right: -10px;
  margin-left: -10px; }

.grid_slider .col-md-6 {
  padding: 0 40px; }

.nav_menu {
  float: left;
  background: #ededed;
  border-bottom: 1px solid #d9dee4;
  margin-bottom: 10px;
  width: 100%;
  position: relative; }
  @media (min-width: 480px) {
    .nav_menu {
      position: static; } }

footer {
  background: #fff;
  padding: 15px 20px;
  display: block; }
  @media (min-width: 992px) {
    footer {
      margin-left: 230px; } }

.btn-success {
  background: #26b99a;
  border: 1px solid #169f85;
  color: #fff;
  text-decoration: none; }
  .btn-success :hover {
    background: #449d44;
    border: 1px solid #398439;
    color: #fff;
    text-decoration: none; }

.border-blue {
  border-color: #3498DB !important; }

.border-purple {
  border-color: #9B59B6 !important; }

.border-green {
  border-color: #1ABB9C !important; }

.border-aero {
  border-color: #9CC2CB !important; }

.border-red {
  border-color: #E74C3C !important; }

.border-dark {
  border-color: #34495E !important; }

.border-orange {
  border-color: #f5822c !important; }

.bg-white {
  background: #fff !important;
  border: 1px solid white !important;
  color: #73879C; }

.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff; }

.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff; }

.bg-blue {
  background: #3498DB !important;
  border: 1px solid #3498DB !important;
  color: #fff; }

.bg-orange {
  background: #f39c12 !important;
  border: 1px solid #f39c12 !important;
  color: #fff; }

.bg-purple {
  background: #9B59B6 !important;
  border: 1px solid #9B59B6 !important;
  color: #fff; }

.bg-blue-sky {
  background: #50C1CF !important;
  border: 1px solid #50C1CF !important;
  color: #fff; }

.x_title {
  border-bottom: 2px solid #e6e9ed;
  padding: 1px 5px 6px;
  margin-bottom: 10px; }
  .x_title .filter {
    width: 40%;
    float: right; }
  .x_title span {
    color: #bdbdbd; }
  .x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap small;
      white-space-margin-left: 10px; }

.nav {
  color: #515356; }
