{% load static i18n static %}

<div aria-hidden="true" data-bs-backdrop="static" id="{{ id }}" class="modal fade {{ principal_class }}"
					aria-labelledby="{{ id }}_title"
					data-bs-focus="false" role="dialog" tabindex="-1">
	<div class="modal-dialog {{ modal_class }}" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="{{ id }}_title">{{ title }}</h5>

				<button id="refresh_modal_signature" class="btn border-0 bg-transparent text-muted  btn-sm refresh_modal_signature"
												title="{% trans 'Refresh' %}"
												type="button">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
			</div>

			<div class="modal-body">
				<form id="{{ form_id }}" method="POST" autocomplete="off" action="{{ url }}">
					{% csrf_token %}
					{{ form }}
					<input type="hidden" name="prefix" class="form_prefix" value="{{ form.prefix|default_if_none:''}}">
				</form>
				<div class="row align-items-stretch h-100">
					<div class="col-9">
						<p class="text-muted fw-bold mb-0 pb-0">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
							{% trans 'Notices' %}
						</p>
						<ul class="mt-0 pt-0">
							<li>
								<small> {% trans 'You need to use Firmador Libre 2.0 or above' %}
									<a class="fw-bold" href="{% static 'firmador.jar' %}" target="_blank"> {% trans 'Download' %}</a>
								</small>
							</li>
							<li>
								<small> {% trans 'You need to run Firmador Libre to sign' %}</small>
							</li>
						</ul>
					</div>
					<div class="col-3 d-flex flex-column justify-content-center align-items-center">
						<small class="text-muted fw-bold">Firmador Libre</small>
						<img src="{% static logo_firmador %}" width="30" alt="Firmador Libre" class="img-fluid">
					</div>
				</div>

				{#				Manejo de errores #}
				<div id="signature-errors">

				</div>

				<div class="modal-footer pb-0 ">
					<button class="btn btn-danger btn-sm close_modal_signature"
													type="button">{% trans 'Close' %}
					</button>
					<button class="btn btn-primary formadd btn-sm" id="{{ id }}_sign_btn" type="button">{% trans 'Sign' %}</button>
				</div>

			</div>
		</div>
	</div>
</div>
